<!DOCTYPE html> 
<html>
  <body>
    <div class ="container">
      <h1>Clique sur le Menu Barouck</h1>
      <p>Tu kiff ou pas? Je changerai les couleurs quand tu me les donneras ;) </p>
      <!-- La suite fais partie du menu -->
    </div>
    <div class= "button_container" id ="toggle"> <span class="top"></span>
      <span class="middle"></span> <span class="bottom"></span>
    </div>
    <div class="overlay" id ="overlay">
      <nav class="overlay-menu">
        <ul>
          <li><a href="#">Accueil</a></li>
           <li><a href="#">A propos</a></li>
           <li><a href="#">Notre projet</a></li>
           <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>